@mixin pos($pos, $top: no, $right: no, $bottom: no, $left: no) {
  position: $pos;
  @if $top != no {
    top: $top + px;
  }
  @if $right != no {
    right: $right + px;
  }
  @if $bottom != no {
    bottom: $bottom + px;
  }
  @if $left != no {
    left: $left + px;
  }
}

@mixin bg($image: no, $color: no, $size: no) {
  @if $image != no {
    background: $image no-repeat;
  }
  @if $color != no {
    background-color: $color;
  }
  @if $size != no {
    background-size: $size;
  }
}

@mixin width($max: no, $width) {
  @if $max != no {
    max-width: $width;
  } @else {
    width: $width;
  }
}

@mixin height($height) {
  height: $height;
}

@mixin text($color, $size: no, $weight, $line, $align: no) {
  color: $color;
  @if $size != no {
    font-size: $size + px;
  }
  font-weight: $weight * 100;
  line-height: $line;
  @if $align != no {
    text-align: $align;
  }
}

@mixin fill($fill) {
  fill: $fill;
}
