$bg-fb: #fbf8ec;
$bg-ff: #fff;
$bg-shadow: #0000001a;
$bg-41: #414141;
$bg-70: #70c05b;
$bg-8f: #8f8f8f;
$bg-23: #232323;
$bg-f6: #ff6633;
$bg-f9: #f9f4e2;
$bg-60: #606060;
$bg-bf: #bfbfbf;
$bg-f3: #f3f2f1;
$bg-fc: #fcd5ba;
$bg-e5: #e5ffde;
