@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../components/buttons" as btn;
@use "../layout/flex" as flex;
@use "../themes/dark--mode";

.about {
  &--wrapper {
    @include flex.flex(column, flex-start, space-between, 120);
  }

  &--top {
    @include flex.flex(no, flex-start, space-between);
    background-image: url("../images/ОНас/about-top_bigBg.png"),
      url("../images/ОНас/about-top_bg.png");
    background-repeat: no-repeat, no-repeat;
    background-size: contain, auto;
    background-position: center, bottom right;
    min-height: 372px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
    &_img {
      max-width: 620px;
      width: 100%;
      align-self: end;
      img {
        width: clamp(300px, 50vw, 620px);
        object-fit: cover;
      }
      @media (max-width: 900px) {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }

    &__main {
      h2 {
        @include mix.text(var.$bg-41, null, 7, 150%);
        margin-bottom: 16px;
        font-size: clamp(36px, 4vw, 64px);
      }
      p {
        @include mix.text(var.$bg-f6, null, 7, 150%);
        font-size: clamp(14px, 4vw, 24px);
      }
    }
  }

  &--middle {
    @include flex.flex(no, no, space-between, 10);

    @media (max-width: 1065px) {
      flex-wrap: wrap;
    }

    li {
      position: relative;
      padding-left: 40px;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 30px;
        height: 30px;
        background: url("../images/ОНас/check.svg") no-repeat center;
        background-size: cover;
      }

      &:nth-child(1) {
        flex-shrink: 1;
      }

      &:nth-child(2) {
        flex-shrink: 6;
      }
      &:nth-child(3) {
        flex-shrink: 5;
      }

      p {
        @include mix.text(var.$bg-41, 20, 4, 150%);
      }

      h3 {
        margin-top: 16px;
        @include mix.text(var.$bg-41, 24, 7, 150%);
      }
    }
  }
}

.massage {
  &--wrapper {
    @include flex.flex(no, center, center, 72);
    padding: 40px 50px;

    @media (max-width: 600px) {
      flex-direction: column;
      padding: 40px 20px ;
    }
    div {
      @include btn.btn(20px 40, 8, null, var.$bg-e5);
      @include mix.text(var.$bg-70, no, 7, 150%);
      font-size: clamp(12px, 3vw, 24px);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 1px;
        transform: translate(-100%, -50%);
        width: 40px;
        height: 40px;
        clip-path: polygon(100% 0%, 0% 0%, 100% 100%);
        background-color: var.$bg-e5;
        border-radius: 4px;

        @media (max-width: 600px) {
          top: 0;
          left: 50%;
          transform: translate(-50%, -100%) rotate(90deg);
        }
      }
    }
  }
}
