@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../components/buttons" as btn;
@use "../layout/flex" as flex;
@use "../themes/dark--mode";

.category {
  &_main {
    gap: 40px;
  }

  &--body {
    @include flex.flex(column, no, center, 60);
    margin-top: 27px;
    h2 {
      @include mix.text(var.$bg-41, no, 7, 100%);
      font-size: clamp(20px, 5vw, 64px);
    }
  }

  &--list {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: clamp(20px, 4vw, 40px);

    @media (max-width: 990px) {
      grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    }
    @media (max-width: 720px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .searchActive {
      &::after {
        transform: translateY(0);
      }
    }

    &__item {
      position: relative;
      border-radius: 4px;
      overflow: hidden;

      &:hover {
        &::after {
          transform: translateY(0);
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 117px;
        z-index: 11;
        background: linear-gradient(
          180deg,
          rgba(112, 192, 91, 0) 0%,
          #70c05b 82.81%
        );
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 13;
        background: linear-gradient(
          180deg,
          rgba(255, 102, 51, 0) 0%,
          #ff6633 100%
        );
        transform: translateY(100%);
        transition: 0.5s;
      }
      h4 {
        position: absolute;
        left: 10px;
        bottom: 10px;
        @include mix.text(var.$bg-ff, no, 7, 150%);
        font-size: clamp(5px, 3vw, 16px);
        z-index: 14;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }

      &:nth-child(1),
      &:nth-child(10),
      &:nth-child(12) {
        grid-column: span 2;
      }

      @media (max-width: 990px) and (min-width: 720px) {
        &:nth-child(12) {
          grid-area: auto;
        }
      }

      @media (max-width: 720px) {
        &:nth-child(12) {
          order: 1;
        }
      }
    }
  }
}
