@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../components/buttons" as btn;
@use "../layout/flex" as flex;
@use "../themes/dark--mode";

.dairy {
  &--wrapper {
    @include flex.flex(column, no, no, 16);
    h2 {
      @include mix.text(var.$bg-41, no, 7, 150%);
      font-size: clamp(18px, 4vw, 24px);
    }
  }

  &--middle {
    @include flex.flex(no, center, no, 24);
    flex-wrap: wrap;
    &_id {
      @include mix.text(var.$bg-41, 12, 4, 150%);
    }

    &_Comment {
      @include flex.flex(no, center, no, 8);

      .starts {
        img:nth-child(-n + 2) {
          filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
            brightness(102%) contrast(105%);
        }

        img:hover {
          filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
            brightness(102%) contrast(105%);
        }
      }

      a {
        @include mix.text(var.$bg-41, 12, 4, 150%);
        &:hover {
          color: var.$bg-f6;
        }
      }
    }

    &_share {
      @include mix.text(var.$bg-60, 12, 4, 150%);
      @include flex.flex(no, center, no, 8);
      &::before {
        content: "";
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url("../images/Товар/share-2.svg") no-repeat center;
        background-size: cover;
        margin-right: 8px;
      }
    }

    &_like {
      @include mix.text(var.$bg-60, 12, 4, 150%);
      @include flex.flex(no, center, no, 8);
    }
  }

  &--body {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;

    @media (max-width: 705px) {
      grid-template-columns: 1fr;
      width: 100%;
    }

    &_imagesMenu {
      @include flex.flex(no, no, no, 16);

      @media (max-width: 570px) {
        flex-direction: column-reverse;
      }
    }

    &__minImages {
      @include flex.flex(column, no, space-between, 16);
      min-width: 64px;
      @media (max-width: 570px) {
        flex-direction: row;
      }
      li {
        @include flex.flex(no, center);
        padding: 10px 0;
        background-color: var.$bg-ff;
        box-shadow: 2px 3px 4px 0px #00000048;
        img {
          max-width: 84px;
          height: 70px;
          width: 100%;
        }
      }
    }

    &__bigImage {
      position: relative;
      max-width: 504px;
      height: 100%;

      span {
        position: absolute;
        top: 20px;
        right: 20px;
        @include mix.text(var.$bg-ff, 16, 4, 150%);
        @include btn.btn(4px 8, 4, no, var.$bg-f6);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__info {
      @include flex.flex(column, no, no, 24);

      &Top {
        @include flex.flex(no, flex-end, space-between, 16);

        div {
          h2 {
            @include mix.text(var.$bg-41, no, 7, 150%);
            font-size: clamp(24px, 4vw, 36px);
          }
          &:nth-child(1) {
            h2 {
              @include mix.text(var.$bg-60, no, 4, 150%);
              font-size: clamp(18px, 4vw, 24px);
            }
          }
          &:nth-child(2) {
            span {
              @include flex.flex(no, center, no, 8);
              &::after {
                content: "";
                width: 24px;
                height: 24px;
                display: inline-block;
                background: url("../images/Товар/info.svg") no-repeat center;
                background-size: cover;
              }
            }
          }
          span {
            @include mix.text(var.$bg-bf, 12, 4, 150%);
          }
        }
      }

      &Middle {
        @include flex.flex(column, center, no, 8);
        button {
          position: relative;
          @include btn.btn(16px 16px 16px 56, 4, none, var.$bg-f6);
          width: 100%;
          @include mix.text(var.$bg-ff, 24, 4, 150%, center);
          transition: 0.5s;
          &:hover {
            box-shadow: inset 200px 40px 5px 50px var.$bg-70;
            transform: scale(1) skew(10deg, 0deg);
          }
          a {
            &::before {
              content: "";
              position: absolute;
              top: 16px;
              left: 16px;
              display: inline-block;
              width: 32px;
              height: 32px;
              background: url("../images/Товар/shopping-cart.svg") no-repeat
                center;
              background-size: cover;
              margin-right: 8px;
            }
          }
        }

        .prize,
        .quiteMode {
          position: relative;
          @include btn.btn(8px 8px 8px 48, 4, null, transparent);
          @include mix.text(var.$bg-70, 12, 4, 150%, center);
          transform: scale(1);
          &::before {
            content: "";
            position: absolute;
            top: 4px;
            left: 4px;
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url("../images/Товар/smile.svg") no-repeat center;
            background-size: cover;
          }
        }
        .quiteMode {
          color: var.$bg-60;
          &::before {
            background: url("../images/Товар/bell-off.svg") no-repeat center;
          }
        }
      }

      &Bottom {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        li {
          padding: 4px 8px;
          @include mix.text(var.$bg-41, 12, 7, 150%);
        }

        li:nth-child(odd) {
          font-weight: 400;
        }

        @for $i from 1 through 6 {
          @if ($i <= 2 and $i>=1 or $i <= 6 and $i>=5) {
            li:nth-child(#{$i}) {
              background-color: var.$bg-f3;
            }
          }
        }
      }
    }

    &__others {
      @include flex.flex(column, no, no, 16);

      @media (max-width: 1000px) {
        grid-column: span 2;
      }

      @media (max-width: 705px) {
        grid-column: auto;
      }
      h4 {
        @include mix.text(var.$bg-60, 16, 4, 150%);
      }
      ul {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;

        @media (max-width: 1000px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 705px) {
          grid-template-columns: repeat(2, 1fr);
        }
        li {
          @include flex.flex(column, no, no, 8);
          box-shadow: 1px 2px 4px 0px #0000001a;
          border-radius: 4px;
          background-color: var.$bg-ff;
          img {
            width: 100%;
          }
          span {
            display: inline-block;
            padding: 10px;
            @include mix.text(var.$bg-41, 18, 7, 150%);
          }
        }
      }
    }
  }
}

.comment {
  &--wrapper {
    @include flex.flex(column, no, no, 16);
    h2 {
      @include mix.text(var.$bg-41, no, 7, 150%);
      font-size: clamp(18px, 4vw, 24px);
    }
  }

  &--body {
    @include flex.flex();
    gap: clamp(50px, 6vw, 144px);

    @media (max-width: 700px) {
      flex-direction: column;
    }
    &__info {
      @include flex.flex(column, no, no, 16);
      @media (max-width: 700px) {
        padding: 0 20px;
      }
      &Top {
        @include flex.flex(no, center, space-between, 16);

        div {
          @include flex.flex(no, center, no, 4);
          img:nth-child(-n + 4) {
            filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
              brightness(102%) contrast(105%);
          }
          img:hover {
            filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
              brightness(102%) contrast(105%);
          }
        }

        p {
          @include mix.text(var.$bg-41, 18, 7, 150%);
          white-space: nowrap;
        }
      }

      &Bottom {
        @include flex.flex(column, no, no, no);
        li {
          @include flex.flex(no, center, space-between, 16);
          padding: 4px 4px;

          span {
            @include mix.text(var.$bg-41, 16, 4, 150%);
          }

          div {
            @include flex.flex(no, center, no, 4);

            img {
              &:hover {
                filter: invert(36%) sepia(84%) saturate(2781%)
                  hue-rotate(-10deg) brightness(102%) contrast(105%);
              }
            }
          }

          @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
              div {
                img:nth-child(-n + #{6 - $i}) {
                  filter: invert(36%)
                    sepia(84%)
                    saturate(2781%)
                    hue-rotate(-10deg)
                    brightness(102%)
                    contrast(105%);
                }
              }
            }
          }
        }
      }
    }

    &__Comments {
      @include flex.flex(column);
      max-width: 688px;

      li {
        @include flex.flex(column, no, no, 16);
        padding: 16px;
        box-shadow: 1px 2px 4px 0px #0000001a;
        border-radius: 4px;
        background-color: var.$bg-f9;
        position: relative;

        p {
          @include mix.text(var.$bg-41, 16, 4, 150%);
        }
      }

      .title {
        @include flex.flex(no, center, no, 8);
        @include mix.text(var.$bg-41, 18, 4, 150%);
        &::before {
          content: "";
          display: inline-block;
          width: 36px;
          height: 36px;
          background: url("../images/Товар/avatar.svg") no-repeat center;
          background-size: cover;
          margin-right: 8px;
        }
      }

      .stars {
        @include flex.flex(no, center, no, 16);
        div {
          @include flex.flex(no, center, no, 4);
        }
      }

      li:nth-child(1) {
        img:nth-child(n) {
          filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
            brightness(102%) contrast(105%);
        }
      }

      li:nth-child(2) {
        img:nth-child(-n + 4) {
          filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
            brightness(102%) contrast(105%);
        }
      }

      li:nth-child(3) {
        img:nth-child(-n + 1) {
          filter: invert(36%) sepia(84%) saturate(2781%) hue-rotate(-10deg)
            brightness(102%) contrast(105%);
        }
      }
    }
  }

  &--form {
    margin-left: 22%;
    @include flex.flex(column, flex-start, no, 16);
    max-width: 688px;

    @media (max-width: 540px) {
      margin-left: 0;
    }

    &__start {
      @include flex.flex(no, center, no, 16);

      @media (max-width: 390px) {
        flex-direction: column;
      }
      h3 {
        @include mix.text(var.$bg-41, 18, 7, 150%);
        // font-size: clamp(18px, 4vw, 24px);
      }
    }

    textarea {
      resize: none;
      outline: none;
      @include btn.btn(8px 16, 4, 1px solid var.$bg-bf, var.$bg-ff);
      height: 100px;
      width: 100%;
      @include mix.text(var.$bg-41, 16, 4, 150%);

      &::placeholder {
        @include mix.text(var.$bg-41, 16, 4, 150%);
      }

      &:focus {
        box-shadow: 3px 3px 5px 1px var.$bg-70;
      }
    }

    button {
      @include btn.btn(8, 4, none, var.$bg-fc);
      width: auto;
      @include mix.text(var.$bg-f6, 16, 4, 150%, center);
      transition: 0.5s;
      &:hover {
        box-shadow: inset 200px 40px 5px 50px var.$bg-70;
        transform: scale(1) skew(10deg, 0deg);
        color: var.$bg-ff;
      }
    }
  }

  .radio {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: row-reverse;

    & > input {
      position: absolute;
      appearance: none;
    }

    & > label {
      cursor: pointer;
      font-size: 30px;
      position: relative;
      display: inline-block;
      transition: transform 0.3s ease;
    }

    & > label > svg {
      fill: #bfbfbf;
      transition: fill 0.3s ease;
    }

    & > label:hover {
      transform: scale(1.2);
      animation: pulse 0.6s infinite alternate;
    }

    & > label:hover > svg,
    & > label:hover ~ label > svg {
      fill: #ff9e0b;
      filter: drop-shadow(0 0 15px rgba(255, 158, 11, 0.9));
      animation: shimmer 1s ease infinite alternate;
    }

    & > input:checked + label > svg,
    & > input:checked + label ~ label > svg {
      fill: #ff9e0b;
      filter: drop-shadow(0 0 15px rgba(255, 158, 11, 0.9));
      animation: pulse 0.8s infinite alternate;
    }

    & > label:hover > svg,
    & > label:hover ~ label > svg {
      fill: #ff9e0b;
    }

    & > input:checked + label:hover > svg,
    & > input:checked + label:hover ~ label > svg {
      fill: #e58e09;
    }

    & input:checked ~ label svg {
      fill: #ffa723;
    }
  }
}
