@mixin btn($padding, $radius, $border: no, $bg-color) {
  display: inline-block;
  padding: $padding + px;
  border-radius: $radius + px;
  @if ($border != no) {
    border: $border;
  }
  background: $bg-color;
  text-decoration: none;
}
