@use "../utils/functions" as func;
@use "../utils/mixins" as mix;
@use "../utils/variables" as var;
@use "../layout/flex" as flex;
* {
  margin: 0;
  padding: 0;
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
html,
body {
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url("https://images.fooby.ru/2/23/35/6117345") no-repeat fixed
    center;
  background-size: cover;
  padding: 50px 20px 0;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.5s;
  &:hover {
    text-decoration: underline;
    transform: scale(1.04);
  }
}

.container {
  $padding: 20;
  max-width: func.container(1440, 116, $padding);
  margin: 0 auto;
  padding: $padding + 20 + px;
  background-color: var.$bg-fb;
  border-radius: 20px;

  @media (max-width: 500px) {
    padding: 20px;
  }
}

a {
  white-space: nowrap;
}

img {
  object-fit: cover;
  object-position: center;
}

main {
  margin: 100px 0;
  @include flex.flex(column, no, center, 60);
}
.main_about {
  gap: 20px;
}

.flex {
  display: flex;
  gap: 16px;
  align-items: center;
}

nav[aria-label="Breadcrumb"] {
  .container {
    padding: 20px;
    overflow: auto;
  }
  ol {
    @extend .flex;
    a,
    li {
      @include mix.text(var.$bg-8f, 12, 4, 150%);
      white-space: nowrap;
    }
    a {
      @extend .flex;
      transform: scale(1);
      color: var.$bg-41;
      &::after {
        content: "";
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url("../../images/home/sectionLinkRight.svg") no-repeat
          center;
        background-size: cover;
      }
    }
  }
}

.like {
  background-color: #f3f2f170;
  padding: 4px;
  border-radius: 4px;
  transition: 0.5s;
  .con-like {
    --red: rgb(255, 50, 50);
    position: relative;
    width: 20px;
    height: 20px;
  }

  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }

  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .con-like .outline {
    position: absolute;
    fill: var.$bg-41;
  }

  .con-like .filled {
    position: absolute;
    fill: var(--red);
  }

  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }

  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }

  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }

  .con-like .like:checked ~ .checkmark .filled {
    display: block;
  }

  .con-like .like:checked ~ .checkmark .celebrate {
    display: block;
  }

  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }

    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }

    50% {
      opacity: 0.8;
    }

    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }
}
